// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Inter" !default;
$font-weight-medium: 500;
$container-padding-x: 2rem;
$white: #FFFFFF;
$ghost-white: #F8F7FF;
$yellow: #FF7A00;
$green: #00B262;
$gray-218: #DADADA;
$gray: #3E4E4A;
$light-gray: #818181;
$black: #303030;
// font sizes
$font-size-base: .75rem!default;
$font-sizes: ( 1: 1rem, 2: .938rem, 3: .875rem, 4: .688rem);
// buttons
$btn-font-weight: bold!default;
$btn-font-size: 1rem!default;
$btn-padding-x: 2rem!default;
$btn-padding-y: .658rem!default;
$btn-color: #1F211E!default;
$btn-link-color: $yellow!default;
// form-control
$input-font-size: 1rem !default;
$input-line-height: 1.25 !default;
$input-font-weight: 400 !default;
$input-color: $light-gray !default;
$input-placeholder-color: $light-gray !default;
$input-bg: $ghost-white !default;
$input-border-color: $yellow !default;
$input-border-radius: .188rem !default;
$input-padding-y: .875rem !default;
$input-padding-x: .75rem !default;
$input-group-addon-color: $white !default;
$input-group-addon-border-color: transparent !default;
$form-feedback-invalid-color: #fd5732 !default;
$form-feedback-font-size: .625rem !default;
$input-box-shadow: none !default;
$input-focus-box-shadow: none !default;
$form-check-input-width: 1.25em;
$form-check-input-bg: $white;
